.editor-preview blockquote, .editor-preview-side blockquote {
	color: #3c763d;
	background-color: rgba(66,185,131,.1);
	padding: 0;
	margin: 15px 0;
	border-left: 4px solid #42b983;
	margin-left: auto;
	margin-right: auto;
}
.editor-preview blockquote p, .editor-preview-side blockquote p {
	padding: 5px;
}
.editor-preview code {
	overflow-x: auto;
	scrollbar-width: thin;
	margin: 0 0 -5px 0;
	user-select: all;
	width: unset;
	background: #eed7d7;
	font-size: .92em;
	font-family: Consolas,Monaco,monospace !important;
	color: #e93700;
	padding: 2px 4px;
	border-radius: 5px;
	display: inline-block;
	white-space: pre;
	max-width: 100%;
}
.editor-preview a, .editor-preview-side a {
	color: #42b983;
	text-decoration: none;
	font-style: normal;
	font-size: 15px;
	font-weight: 600;
}
.editor-preview pre, .editor-preview-side pre {
	background: #f8f8f8;
	margin-bottom: 10px;
	padding: 7px;
	font-size: 85%;
	line-height: 1.45;
	border-radius: 4px;
	border: thin solid #dfe2e5;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
}
.editor-preview pre code {
	color: unset;
	background: unset;
	display: block;
}
.editor-preview {
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,freesans,sans-serif;
    color: #333;
    border-top: 1px solid #d4dbde;
	padding: 10px;
}
.editor-preview * {
	max-width: 860px;
	margin-left: auto;
    margin-right: auto;
}
.editor-preview table, .editor-preview-side table {
	border-spacing: 0;
	border-collapse: collapse;
	text-shadow: 1px 1px 0 #fff;
}
.editor-preview table thead th, .editor-preview-side table thead th {
	background-color: #e0e0e0;
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview table tr:nth-child(2n), .editor-preview-side table tr:nth-child(2n) {
	background: linear-gradient(to bottom,#f8f8f8 0,#f6f6f6 100%);
}
.editor-preview table td, .editor-preview table th, .editor-preview-side table td, .editor-preview-side table th {
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview kbd, .editor-preview-side kbd {
	font-family: Consolas,"Courier New",monospace;
	display: inline-block;
	border-radius: 5px;
	padding: 0 4px;
	margin: 2px;
	font-size: .9em;
	vertical-align: text-bottom;
	background: #fff;
	color: #555;
	user-select: none;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc #aaa #888 #bbb;
	white-space: nowrap;
	border-style: solid;
}
.editor-preview img {
	display: block;
	max-width: 860px;
}
.editor-preview code::-webkit-scrollbar {
    height: 6px;
    background: #dee2e6;
}
.editor-preview code::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 6px;
}
.editor-preview code::-webkit-scrollbar-thumb:hover {
    background: #737677;
}
.editor-preview-active-side {
	overflow: auto;
	height: calc(100vH - 158px) !important;
}
.cm-s-easymde .cm-comment {
	font-family: Consolas,inherit monospace;
	font-size: .9em;
}