body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.85em;
}
.login {
	background: url(../background.php) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}
button.LogoutB {
	right: 0;
	position: absolute;
}
#lheader {
	background-color: #0879d9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 20px;
	color: white;
	font-weight: bolder;
	font-size: 1.1rem;
}
#lbody {
	padding: 10px 20px;
}
#lfooter {
	padding: 5px 20px;
	background: #0000002e;
	border-top: 1px solid #8080808c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#lform::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: blur(5px);
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
	z-index: -1;
	background-image: url(../background.php);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
#lform {
	width: 350px;
	position: relative;
	top: 35vH;
	border-radius: 5px;
	background: rgba(255,255,255,.2);
	box-shadow: 3px 3px 5px 0 rgba(0,0,0,.9);
	margin: auto auto;
}
.lform input:not([type="checkbox"]), .lform button {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	height: 2rem;
	background-color: white;
	padding: 0 .25rem;
	outline: 0;
	font-size: 1.2rem;
}
#lform button {
	background-color: #2196f3;
	color: white;
	text-transform: uppercase;
	font-weight: 501;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
	border: 0;
	cursor: pointer;
	font-size: 1.1rem;
}
#lform button:hover {
	background-color: #0879d9;
}
#lpfooter {
	background-color: #00000082;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: right;
	line-height: 20px;
}
#lpfooter a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
}
#loader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	border: 10px solid #2229;
	border-top: 10px solid #03a9f4;
	animation: .8s spin linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
}
#loaderbg {
	background: linear-gradient(0deg, rgba(100,149,237,1) 35%, rgba(100,225,237,1) 100%);
	left: 0;
	top: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 99;
	opacity: .3;
}
@-webkit-keyframes spin {
    from {
       /* -webkit-transform: rotate(0deg); */
        transform: rotate(0deg);
    } to {
/*        -webkit-transform: rotate(360deg); */
        transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
/*        -webkit-transform: rotate(0deg); */
        transform: rotate(0deg);
    } to {
/*        -webkit-transform: rotate(360deg); */
        transform: rotate(360deg);
    }
}
#tocButton {
	position: absolute;
	z-index: 100;
	top: 15px;
	right: 10px;
	background-color: #f4f4f4;
	border: 1px solid #ced4da;
	border-radius: 5px;
	cursor: pointer;
	/* font-size: .8em; */
	padding: 3px;
	outline: 0;
}
#tocDIV {
	position: fixed;
	z-index: 9;
	top: 135px;
	background-color: #efefef;
	width: 300px;
	white-space: nowrap;
	padding: 10px 0;
	box-shadow: 1px 3px 3px 0 rgba(50,50,50,.3);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #bbb;
	border-top: 0;
	overflow: auto;
	max-height: calc(100% - 140px);
	right: -310px;
}
#tocDIV ul {
	margin: 0;
	padding-left: 20px;
}
#tocDIV li {
	list-style: none;
	padding-right: 10px;
}
#tocDIV.tdhidden {
	right: 26px;
}
#tocDIV a {
	color: #42b983;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
	font-size: .9em;
}
.tagify {
	width: calc(100% - 20px);
	margin: 0 10px;
	border-radius: 5px;
	border-color: transparent;
	overflow: auto;
	display: block;
	height: 36px;
}
.tagify:hover {
	border-color: transparent;
}
.tagify[readonly]:not(.tagify--mix) .tagify__tag > div::before {
	background: gainsboro;
	filter: unset;
}
.tagify.tedit {
	background: white;
	border: 1px solid #ced4da;
}
#noteheader input {
	background-color: white;
	border: thin solid #ced4da;
	width: calc(100% - 30px);
	margin: 5px 9px 5px;
	padding: 0px 5px;
	border-radius: 5px;
	outline: 0;
	color: black;
}
#noteheader input:disabled {
	width: calc(100% - 30px);
	padding: 0;
	border: thin solid transparent;
	border-radius: 5px;
	background: #efefef;
	outline: 0;
	color: black;
}
#ntitle {
	font-size: 2em;
	padding-left: 5px;
}
#noteheader input.edit {
	border: thin solid #ced4da !important;
	background: white !important;
}
#parent {
	display: flex;
}
#noteheader {
	background: #efefef;
	width: 100%;
	height: 85px;
}
#notebody {
	width: 100%;
	height: calc(100% - 100px);
	background: white;
}
#main {
	display: flex;
	flex-direction: column;
	flex: 1;
}
#noteslist {
	overflow: auto;
	height: calc(100% - 35px);
	border-top: 1px solid #dfdfdf;
}
#left {
	width: 350px;
	height: calc(100vh - 1px);
	border-right: 1px solid #dfdfdf;
	resize: horizontal;
	overflow: hidden;
}
#search {
	background: #efefef;
	width: 100%;
	height: 35px;
}
#nsearch {
	margin: 0 10px;
	width: calc(100% - 30px);
	top: 6px;
	position: relative;
	border: thin solid #ced4da;
	border-radius: 5px;
}
#ndata {
	z-index: 9;
	position: relative;
	width: 90%;
	background-color: #d4dbde;
	margin: 0 auto;
	border: 1px solid #a9a9a9;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.75);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 55px;
}
#ndata div {
	width: 25%;
	float: left;
}
#ndata label {
	font-size: .7em;
	color: #696969;
	font-style: italic;
	margin-left: 10px;
}
.iurl {
	cursor: pointer;
	text-decoration: underline;
}
.iurl:hover {
	color: mediumblue !important;
}
#ndata input {
	width: calc(100% - 30px);
	margin-left: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
	padding: revert;
	background-color: white;
}
#ndata input:read-only {
	background-color: lavender;
	color: darkslategray;
}
.mtoggle {
	top: 0 !important;
	z-index: -1 !important;
}
.highlight {
	background-color: lightgoldenrodyellow;
	opacity: .7;
}
.highlight * {
	pointer-events: none;
}
#nlist {
	margin: 0;
	padding: 0;
	overflow: auto;
	height: calc(100% - 35px);
	border-top: 1px solid #dfdfdf;
}
#nlist li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: 40px;
	border-bottom: 1px solid #f1f3f4;
	cursor: pointer;
}
#nlist li:hover {
	background-color: #e8eaf6;
}
/*
#nlist .mpart {
	position: relative;
	left: 0px;
	width: calc(100% - 90px);
}
*/
#nlist .mpart {
	position: relative;
	left: 10px;
	width: calc(100% - 65px);
}
#nlist .ntype {
	width: 30px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#nlist .nname {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 20px;
	font-weight: 700;
	color: #536871;
}
#nlist .ntime {
	width: 100%;
	font-size: 0.8em;
	color: gray;
}
#nlist .nsize {
	background: #929292;
	width: 50px;
	color: white;
	text-align: right;
	border-radius: 10px;
	font-size: 0.8em;
	padding-right: 6px;
	line-height: 15px;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
	height: 15px;
	margin-top: 15px;
}
.tcontainer {
	background: blue;
	display: flex;
	position: absolute;
	right: 0;
	z-index: 10;
	align-items: center;
	height: 40px;
	width: 58px;
}
.editor-toolbar button {
	outline: 0;
}
.editor-toolbar button:disabled {
	pointer-events: none;
	color: darkgray;
}
.EasyMDEContainer {
	width: 100%;
}
.CodeMirror-scroll {
	height: calc(100vH - 190px);
}
.editor-toolbar {
	border: 0;
	background-color: #efefef;
	box-shadow: 1px 3px 3px 0 rgba(50,50,50,.4);
	z-index: 10;
}
.EasyMDEContainer .CodeMirror {
	border: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-radius: 0;
}
.EasyMDEContainer {
	width: 100%;
	border-top: 1px solid #ddd;
}
.editor-statusbar {
	background: #efefef;
}
/* ------------------------------------ */
/*
.editor-preview pre {
	overflow: auto;
	user-select: all;
}
*/
.editor-preview blockquote, .editor-preview-side blockquote {
	color: #3c763d;
	background-color: rgba(66,185,131,.1);
	padding: 0;
	margin: 15px 0;
	border-left: 4px solid #42b983;
	margin-left: auto;
	margin-right: auto;
}
.editor-preview blockquote p, .editor-preview-side blockquote p {
	padding: 5px;
}
.editor-preview code {
	overflow-x: auto;
	scrollbar-width: thin;
	margin: 0 0 -5px 0;
	user-select: all;
	width: unset;
	background: #eed7d7;
	font-size: .92em;
	font-family: Consolas,Monaco,monospace !important;
	color: #e93700;
	padding: 2px 4px;
	border-radius: 5px;
	display: inline-block;
	white-space: pre;
	max-width: 100%;
}
.editor-preview a, .editor-preview-side a {
	color: #42b983;
	text-decoration: none;
	font-style: normal;
	font-size: 15px;
	font-weight: 600;
}
.editor-preview pre, .editor-preview-side pre {
	background: #f8f8f8;
	margin-bottom: 10px;
	padding: 7px;
	font-size: 85%;
	line-height: 1.45;
	border-radius: 4px;
	border: thin solid #dfe2e5;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10px;
}
.editor-preview pre code {
	color: unset;
	background: unset;
	display: block;
}
.editor-preview {
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Segoe UI,Arial,freesans,sans-serif;
    color: #333;
    border-top: 1px solid #d4dbde;
	padding: 10px;
}
.editor-preview * {
	max-width: 860px;
	margin-left: auto;
    margin-right: auto;
}
.editor-preview table, .editor-preview-side table {
	border-spacing: 0;
	border-collapse: collapse;
	text-shadow: 1px 1px 0 #fff;
}
.editor-preview table thead th, .editor-preview-side table thead th {
	background-color: #e0e0e0;
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview table tr:nth-child(2n), .editor-preview-side table tr:nth-child(2n) {
	background: linear-gradient(to bottom,#f8f8f8 0,#f6f6f6 100%);
}
.editor-preview table td, .editor-preview table th, .editor-preview-side table td, .editor-preview-side table th {
	border: 1px solid #ddd;
	padding: 5px;
}
.editor-preview kbd, .editor-preview-side kbd {
	font-family: Consolas,"Courier New",monospace;
	display: inline-block;
	border-radius: 5px;
	padding: 0 4px;
	margin: 2px;
	font-size: .9em;
	vertical-align: text-bottom;
	background: #fff;
	color: #555;
	user-select: none;
	border-width: 1px 3px 3px 1px;
	border-color: #ccc #aaa #888 #bbb;
	white-space: nowrap;
	border-style: solid;
}
.editor-preview img {
	display: block;
	max-width: 860px;
}
.editor-preview code::-webkit-scrollbar {
    height: 6px;
    background: #dee2e6;
}
.editor-preview code::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 6px;
}
.editor-preview code::-webkit-scrollbar-thumb:hover {
    background: #737677;
}
.editor-preview-active-side {
	overflow: auto;
	height: calc(100vH - 158px) !important;
}