<?php
$notes_path = '/mount/path/homes/%u%/Notes';    // base path to notes, use %u% as placeholder for username
$media_folder = '.media/';                      // subfolder to mediafile
$extensions = 'md, html, txt';					// listed filetypes
$delMedia = true;                               // automatically delete media, after note is deleted; true|false
$title = 'PrimitiveNotes';                      // base title 
$logfile = '/var/log/notes';                    // path to logfile
$loglevel = 9;                                  // loglevel; 9=debug; 8=notice; 4=parse; 2=warn; 1=error
$lang = 'en';									// set the locale for dates and other values
$mailbox = '{imap.server.com:993/imap/ssl}';	// IMAP connection string, see https://www.php.net/manual/en/function.imap-open.php for possible values; set to null or empty for not authentication or using .htaccess
$database = '/mnt/path/to/notes.db';			// path to database, leave empty or set to null, if you dont need 'stay logged in' feature
$enckey = '3Z8V1TxkyNIwYc2v';					// random key for encryption
$enchash = 'DACl6JbhwZs3XEgH';					// random hash for encryption
?>